/* :root{
    
} */

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(45deg,  #e1de57, #c6c4bb, #dbdc6d);
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 80%;
    width: 100vw;
}

header{
    color: rgb(107, 91, 91);
    font-size: 70px;
    text-align: center;
    margin-top: -70px;
    margin-bottom: -2%;
}

input, button{
    appearance: none;
    border: none;
    outline: none;
    /* background: none; */
}

/* MAIN DIV */
#main-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -1%;
    border-radius: 2rem;
    width: 50%;
    height: 90%;
    /* background: rgb(108, 104, 104); */
    background: rgb(59, 62, 0);

}



/* TASKS */
.task-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 70%;
    
    overflow-y: auto;
}

.task-container::-webkit-scrollbar {
    width: 12px;
    border-radius: 50%;
}

.task-container::-webkit-scrollbar-track {
    border-radius: 1.2rem;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent; /* Color of the scrollbar track */ 
}

.task-container::-webkit-scrollbar-thumb {
    border-radius: 1.2rem;
    background-color: gray; /* Color of the scrollbar thumb */
}
  
.task-container::-webkit-scrollbar-thumb:hover {
    border-radius: 1.2rem;
     background-color: rgb(149, 149, 149); /* Color of the scrollbar thumb on hover */
}

.task-container ul{
    margin: 0%;
    max-height: 450px;
    padding: 0%;
}

.task-container ul li{
    display: flex;
    align-items: center; 
    list-style: none;
    cursor: pointer;
    font-size: 1.4rem;
    color: rgb(180, 194, 79);
    padding: 15px 10px 15px 40px;
    border-radius: 0.8rem;
    user-select: none;
    margin-bottom: 2%;
    margin-left: 2px;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    background-image: url(uncheck.png);
    background-size: cover;
    background-position: center;
    height: 20px;
    width: 20px;
    border-radius: 2%;
    left: 0px;
}

ul li.checked{
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(check.png);;
}


/* DELETE BUTTON */
ul li span{
    position: absolute;
    right: 6px;
    top: 5px;
    height: 40px;
    width: 40px;
    line-height: 35px;
    cursor: pointer;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

ul li span:hover{
    color: rgb(163, 157, 157);
    background: rgb(220, 212, 212);
}




/*  TASK ADD */
.bottom-task-adder{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; /* Adjust alignment as needed */
    width: 80%;
    height: 3.5%;
}

#task-input{
    position: relative;
    background: rgb(212, 209, 209);
    color: rgb(115, 101, 101);
    font-size: 1.25rem;
    flex-grow: 1; /* Allow the input field to grow and occupy remaining space */
    height: 100%;
    border-radius: 0.8rem;
    margin-right: 1rem;
    padding: 1rem;
}

#task-input::placeholder{
    color: rgb(129, 128, 122);
}

#add-task-btn{
    position: relative;
    color: rgb(209, 207, 139);
    line-height: -0.5%;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0.5rem 1rem; /* Adjust padding as needed */
    -webkit-background-clip: text;
    cursor: pointer;
}



@media screen and (max-width: 850px){

    body{
        overflow: scroll;
    }

    
    #main-container{
        width: 80%;
        height: 90%;
    }

    .bottom-task-adder {
        flex-direction: column;
        justify-content: center;
        height: 8%;
    }

    #task-input {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    #add-task-btn{
        margin-top: -0.2rem;
        margin-bottom: 1.2rem;
    }
}






